.homepage{
    padding: 0 4rem;
    height: calc(80vh - 2.5rem);
    /* overflow-y: scroll;*/
    h2{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 375px) {
    .homepage{
        overflow-y: scroll;  
    }
}

.latestEpisodes{
    ul{
        list-style: none;
        display: flex;
        grid-template-columns: repeat(2, 1fr);

        li{
            /* background: var(--white); */
            /* border: 1px solid var(--gray-100); */
            padding: 0.5rem 1rem 0.5rem 1rem; 
            /* border-radius: 1.5rem; */
            position: relative;
            display: flex;
            align-items: center;

            img {
                width: 12rem;
                height: 7rem;
                border-radius: 1rem;
                object-fit: cover;
            }

            .episodeDetails{
                flex: 1;
                margin-left: 1rem;

                a{
                    display: block;
                    color: var(--gray-800);
                    font-family: Lexend, sans-serif;
                    font-weight: 600;
                    text-decoration: none;
                    line-height: 1.4rem;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                p{
                    font-size: 0.875rem;
                    margin-top: 0.5rem;
                    max-width: 70%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span{
                    display: inline-block;
                    margin-top: 0.5rem;
                    font-size: 0.875rem;

                    &:last-child{
                        margin-left: 0.5rem;
                        padding-left: 0.5rem;
                        position: relative;

                        &::before{
                            content: "";
                            width: 4px;
                            height: 4px;
                            border-radius: 2px;
                            background: #DDD;
                            position: absolute;
                            left: 0;
                            top: 50%;   
                            transform: translate(-50%, -50%);     
                        }
                    }
                }
            }

            button{
                position: absolute;
                right: 2rem;
                bottom: 2rem;
                width: 2.5rem;
                height: 2.5rem;
                background: var(--white);
                border: 1px solid var(--gray-100);
                border-radius: 0.675rem;
                font-size: 0;
                transition: filter 0.2s;

                img{
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:hover{
                    filter: brightness(0.95);

                }
            }
        }

        .card{
            width: 100%;
            border-radius: 1.5rem;
            border: 1px solid var(--gray-100);
        }
    }
}

@media (max-width: 375px) {
    .ul {
        display: block!important;
    }

    .homepage{
        height: calc(150vh - 0.5rem)!important;
    }
}


.allEpisodes{
    padding-bottom: 2rem;
    padding: 0.75rem 1rem;
    color: var(--gray-200);
    text-transform: uppercase;
    font: 500 0.75rem Lexend, sans-serif;
    text-align: left;
    font-size: 0.875rem;

    .card{
        width: 100%;
        border-radius: 1.5rem;
        border: 1px solid var(--gray-100);
        max-height: 84%;
        height: 84%;
    }


    img{
        width: 19rem;
        height: 10.5rem;
        border-radius: 1.5rem 1.5rem;
        object-fit: cover;
    }

    @media (max-width: 375px) {
        img{
            width: 40rem;
            height: 16.5rem;   
        } 
    }

    @media (max-width: 1400px) {
        img{
            width: 17rem; 
        } 
    }


    a{
        color: var(--gray-800);
        font-family: Lexend, sans-serif;
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.4rem;

        &:hover{
            text-decoration: underline;
        }
    }

    button{
        width: 2rem;
        height: 2rem;
        background: var(--white);
        border: 1px solid var(--gray-100);
        border-radius: 0.5rem;
        font-size: 0;
        transition: filter 0.2s;
        position: absolute;

        img{
            width: 1.25rem;
            height: 1.25rem;
        }

        &:hover{
            filter: brightness(0.95);

        }
    }    

    .bottom{
        margin-bottom: 1rem;
    }
}